<body>

<br></br>
 <div class="container">

  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">

    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-danger">Sign in</button>
    </form>
  </div>
</div>
     
<p></p>
  
  <div class="jumbotron">
    <div class="container">
      <h1>Ben's App</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Post idea <small>Submit you idea for artists to bid on</small></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
<p></p>

<legend>Please complete all fields</legend>

<form class="form-horizontal" role="form">

 <div class="form-group">
    <label for="firstName1" class="col-lg-1 control-label">First name</label>
    <div class="col-lg-6">
      <input type="text" class="form-control" id="firstName1" placeholder="First">
    </div>
  </div>

  <div class="form-group">
    <label for="lastName1" class="col-lg-1 control-label">Last name</label>
    <div class="col-lg-6">
      <input type="text" class="form-control" id="lastName1" placeholder="Last">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail1" class="col-lg-1 control-label">Email</label>
    <div class="col-lg-6">
      <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
    </div>
  </div>

 <div class="form-group">
    <label for="projectTitle1" class="col-lg-1 control-label">Project title</label>
    <div class="col-lg-6">
      <input type="text" class="form-control" id="projectTitle1" placeholder="Project title">
    </div>
  </div>

  <div class="form-group">
    <label for="projectDescription1" class="col-lg-1 control-label">Project description</label>
    <div class="col-lg-6">
      <textarea class="form-control" rows="6"id="projectDescription1" placeholder="Project description"></textarea>
    </div>
  </div>

 <div class="form-group">
    <label for="projectPrice1" class="col-lg-1 control-label">Price willing to pay</label>
    <div class="col-lg-6">
      <input type="text" class="form-control" id="projectPrice1" placeholder="Price willing to pay">
    </div>
  </div>

<p></p>

<div class="form-group">
  <label for="exampleInputFile">File input</label>
  <input type="file" id="exampleInputFile">
  <p class="help-block">Upload photos, digitals images or sketches here</p>
</div>

  <div class="checkbox">
    <label>
      <input type="checkbox"> I agree to terms and conditions
    </label>
  </div>
<p></p>
  <button type="submit" class="btn btn-info btn-large">Submit</button>

</form>

  <br></br>

    <footer>&#169; Ben Morales 2013</footer>
  </div>

</body>
</html>